{
    "openapi": "3.0.0",
    "info": {
        "title": "Qwizzy API Documentation",
        "description": "Documentation de l'API Qwizzy pour la gestion des quiz",
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/difficulties": {
            "get": {
                "tags": [
                    "Difficulty"
                ],
                "summary": "Obtenir la liste des difficultés",
                "description": "Retourne la liste paginée des niveaux de difficulté",
                "operationId": "getDifficultiesList",
                "parameters": [
                    {
                        "name": "current_sort",
                        "in": "query",
                        "description": "Champ de tri",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "id"
                        }
                    },
                    {
                        "name": "current_sort_dir",
                        "in": "query",
                        "description": "Direction du tri",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "asc",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Nombre d'éléments par page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Liste des difficultés récupérée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "difficulty": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Difficulty"
                ],
                "summary": "Créer une nouvelle difficulté",
                "description": "Crée un nouveau niveau de difficulté",
                "operationId": "storeDifficulty",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "point"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 200,
                                        "example": "Facile"
                                    },
                                    "point": {
                                        "type": "integer",
                                        "maximum": 5,
                                        "minimum": 1,
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Difficulté créée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                }
            }
        },
        "/api/difficulties/{id}": {
            "put": {
                "tags": [
                    "Difficulty"
                ],
                "summary": "Mettre à jour une difficulté",
                "description": "Met à jour un niveau de difficulté existant",
                "operationId": "updateDifficulty",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la difficulté",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "point"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 200,
                                        "example": "Moyen"
                                    },
                                    "point": {
                                        "type": "integer",
                                        "maximum": 5,
                                        "minimum": 1,
                                        "example": 3
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Difficulté modifiée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Erreur de validation"
                    },
                    "404": {
                        "description": "Difficulté non trouvée"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Difficulty"
                ],
                "summary": "Supprimer une difficulté",
                "description": "Supprime un niveau de difficulté existant",
                "operationId": "deleteDifficulty",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la difficulté",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Difficulté supprimée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Difficulté non trouvée"
                    }
                }
            }
        },
        "/question-types": {
            "get": {
                "tags": [
                    "QuestionType"
                ],
                "summary": "Afficher la liste des types de questions",
                "operationId": "8ddf7e42a4db03e7e9b7e154d3caa1fa",
                "parameters": [
                    {
                        "name": "current_sort",
                        "in": "query",
                        "description": "Champ de tri",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "current_sort_dir",
                        "in": "query",
                        "description": "Direction du tri (asc, desc)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Nombre d'éléments par page",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Liste paginée des types de questions"
                    }
                }
            },
            "post": {
                "tags": [
                    "QuestionType"
                ],
                "summary": "Créer un nouveau type de question",
                "operationId": "ffb2ef2d61544e83a7f34f7da4a91a8c",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 200,
                                        "example": "QCM"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Type de question créé avec succès"
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                }
            }
        },
        "/question-types/{id}": {
            "put": {
                "tags": [
                    "QuestionType"
                ],
                "summary": "Mettre à jour un type de question",
                "operationId": "c598771df748199b62667e76a9747695",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID du type de question",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 200,
                                        "example": "QCM modifié"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Type de question modifié avec succès"
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                }
            },
            "delete": {
                "tags": [
                    "QuestionType"
                ],
                "summary": "Supprimer un type de question",
                "operationId": "05c87d778260600526a317d8319a3ab6",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID du type de question",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Type de question supprimé avec succès"
                    },
                    "404": {
                        "description": "Type de question non trouvé"
                    }
                }
            }
        }
    },
    "tags": [
        {
            "name": "Difficulty",
            "description": "Endpoints pour gérer les niveaux de difficulté"
        },
        {
            "name": "QuestionType",
            "description": "QuestionType"
        }
    ]
}